* {
  box-sizing: border-box;
}

body {
  margin-left: 3rem;
  margin-right: 3rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-image: linear-gradient(#2948ff, #6277b6);
  height: 100vh;
  font-size: 12px
}

h1 {
  margin: 0;
  font-family: 'Montserrat';
  font-weight: normal;
  font-size: 2rem;
}

h2 {
  margin: 0 0 0.5rem 0;
  font-family: 'Montserrat';
  font-weight: normal;
  font-size: 1.2rem;
}

header {
  display: flex;
  align-items: center;
  height: 3rem;
  padding: 0 0.5rem;
  color: white;
}

#app {
  display: flex;
}

#video-player {
  flex: 1;
  margin-top: 3rem;
  width: 50vw;
}

@media screen and (max-width: 600px) {
  #app {
    flex-direction: row
  }
  #video-player {
    margin: 1rem;
    height: 50vh;
  }
}

aside {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.panel {
 margin-top: 3rem;
  padding: 1rem;
  border-radius: 2px;
  background-color: white;
  color: blue;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.panel > div {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.panel > div:first-child {
  margin-top: 0;
}

select {
  width: calc(100% - 25px);
  font-size: 12px;
  -webkit-appearance: menulist-button;
}

.remove-btn {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  font-size: 12px;
  background: #5f9bc0;
  border: 0;
  color: #fff;
}

.remove-btn:hover {
  background: #4283aa;
}

.options-btn:active {
  background: #286090;
}



