* {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-image: linear-gradient(#2948ff, #6277b6);
  height: 100vh;
  font-size: 12px
}

h1 {
  margin: 0;
  font-family: 'Montserrat';
  font-weight: normal;
  font-size: 2rem;
}

h2 {
  margin: 0 0 1rem 0;
  font-family: 'Montserrat';
  font-weight: normal;
  font-size: 1.2rem;
}

header {
  height: 3rem;
  padding: 0 0.5rem;
  color: white;
}

label {
  color: black
}

#app {
  display: flex;
  justify-content: center;
  max-width: 75vw;
}

#video-player {
  position: relative;
  right: 1rem;
  flex: 1;
  margin-top: 3rem;
  margin-left: 20vw;
}

#cue-overlay {
    position:absolute;
    top:1rem;
    left:1rem;
    background:#000;
    opacity:0.8;
    z-index:10;
    color:#fff;
}

#cue-overlay-text {
  margin-left: 1rem;
  margin-right: 1rem;
}

#cue-overlay-text:empty {
 margin: 0
}

#current {
  color: white
}

@media screen and (max-width: 600px) {
  #app {
    flex-direction: column
  }
  #video-player {
    margin: 1rem;
  }
}

aside {
  display: flex;
  flex-direction: column;
}

.panel {
  display: flex;
  margin-top: 3rem;
  padding: 1rem;
  border-radius: 4px;
  background-color: white;
  color: blue;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.panel > div {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.panel > div:first-child {
  margin-top: 0;
}

#add-cue-panel {
  width: 100%
}

#cue-text {
  width: 100%;
  margin: .5rem 0 .5rem 0;
  height: 5rem;
}

#cue-time-stamp {
  width: 100%;
  margin: .5rem 0 .5rem 0;
  height: 2rem;
}

.submit-btn {
  background: #5f9bc0;
  color: white;
  margin: .5rem 0 0 0;
  height: 1.5rem;
  font-size: 1em;
}

.submit-btn:hover {
  background: #8ea6b4;
}

#cues-list-panel {
  display: flex;
  flex-direction: column
}

.cue-list-item {
  position: relative;
  margin-bottom: 15px;
  border: 1px solid lightgray;
  background-color: rgb(210, 218, 228);
  border-radius: 3px;
  height: 3rem;
  color: darkslategray;
}

.cue-list-item .text {
  position: absolute;
  margin: .2rem 0 0 .2rem;
}

.time {
  position: absolute;
  bottom: 0;
  right: 0;
}

.remove-btn {
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  font-size: 1em;
  background: #5f9bc0;
  border: 0;
  color: #fff;
  right: 0;
  padding: 0;
}
.remove-btn:hover {
  background: #8ea6b4;
}





